

    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"></meta>
        <title>

        Recherche sportive !

        </title>
        <link type="text/css" rel="stylesheet" href="style.css"></link>

    </head>
    <body id="hp" onload="document.forms['formulaire'].elements['q'].focus()" background="image/image.jpg">
        <a id="hlp" href="index.php?id=7"></a>
        <div id="hpc" class="fr-home">
 
            <div align="center">


                                <form class="formu" name="formulaire" action="">  <!--  Fonction de recherche ici -->
                                    <div>

                                         <h1 class="body__h1">
                                        <a class="body__h1__a" title="Recherche Sportive" href="file:///hometu/etudiants/o/l/E147058W/Documents/S4/PYTHON/Projet/master-ProjetPython/Code/src/view/index.html">
                                       Recherche</a>
                                        </h1>
                       
                                        <input class="searchbarre" type="text" size="35" name="q"></input>

                                        <input class="searchbutton" type="submit" value="Va chercher ! " name="sa"></input>
                                    </div>
                                </form>
            </div>
                
                <div class="retour">
                    
                        Taxidermy lo-fi tilde williamsburg. Seitan shoreditch meggings irony, before they sold out franzen beard single-origin coffee shabby chic. Pabst quinoa truffaut brunch pop-up, hella blue bottle cronut. Hammock small batch shabby chic roof party waistcoat, dreamcatcher cardigan heirloom taxidermy sustainable bespoke drinking vinegar. Health goth taxidermy pinterest, selvage wayfarers intelligentsia salvia godard direct trade. Cred williamsburg banh mi, street art deep v pinterest flannel franzen locavore PBR&B cardigan scenester wolf. +1 tote bag brunch lumbersexual, organic echo park vinyl offal.
                </div>
        </body>
    </html>

